
/* CSS FOR THE DIVS WHERE THE BOOKS WILL BE DRAWN */

.book {
  overflow-y: hidden;
  height: 620px !important;
  padding: 20px;
  margin-top: 80px;
  float: none;
  display: inline-block;
}

.book:hover {
    cursor: pointer;
}

.smallbook{
  overflow-y: hidden;
  max-height: 430px ! important;
  position: relative;
}

/* CSS FOR A HIDDEN SPAN THAT CHECKS HOW LONG EACH WORD IS WHEN ITS PRINTED WITH THE SPECIFIED FONT*/
#test {
  font-family: 'Merriweather', serif;
  font-stretch: expanded;
  position: fixed;
  left: -99999px;
}


/* CSS FOR THE COLOR KEY (WHICH IS A LIST) */

#belowlegend {
  opacity: 0.6;
  font-size: 1.3vw;
  color: white;
}

#legendwrap {
  padding-top: 10px;
}

.legend {
  position: relative;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.3vw;
}

.key:hover {
  opacity: 0.8;
  cursor: pointer;

}

/*TEST CSS FOR FIXED KEY*/

.clear { 
  clear:both; 
}

div#sticker {
  overflow: hidden;
  width: 100%;
  background-color: #f77337;
  color: #ffffff;
  opacity: 1;
  z-index: 100;
}

.stick {
  top:0px;
  position:fixed;
  background-color: #e9f1ed;
  margin-bottom: 20px;
  
}

li.key {
  border-top-width: 3vh; /*height of the color key colored box*/
  border-top-style: solid;
  font-size: 1.1vw;
  text-align: right;
  width: 13.5%; /*width of each colorbox in the key*/

}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-top: 14px;
  margin-bottom: 14px;
  -webkit-transition: margin-top 1000; /* Safari 3.1 to 6.0 */
  transition: margin-top 1000;
}


.list-inline li {
  display: inline-block;
}

/* CSS FOR THE D3 ELEMENTS */
.word:hover {
    fill: #f4fff9 !important;
    opacity: 0.2 !important;
}

.word {
  transition: opacity .40s ease-in-out;
  -moz-transition: opacity .40s ease-in-out;
  -webkit-transition: opacity .40s ease-in-out;
}

.text {
  font-family: 'Merriweather', serif;
  font-stretch: expanded;
}