
/* css for all the text on the page */

body {
	font-family: 'Merriweather', 'Josefin Sans', 'Noto Sans';
	font-size: 1.5vw;
	margin: 0px;
}
.wrap {
	overflow: hidden;
	width:	100vw;
	height: 100vh;
}


#start {
	font-family: 'Josefin Sans', 'Noto Sans';
	text-align: center;
	position: relative;
	-webkit-animation: colorchange 20s infinite;
	animation: colorchange 20s inifinite;
}


@keyframes colorchange
{
0%   {background: #22989c;}
12%  {background: #66b595;}
40%  {background: #d1d843;}
65%  {background: #fb5954;}
90% {background: #66b595;}
100% {background: #22989c;}
}

@-webkit-keyframes colorchange /* Safari and Chrome */
{
0%   {background: #22989c;}
12%  {background: #66b595;}
40%  {background: #d1d843;}
65%  {background: #fb5954;}
90% {background: #66b595;}
100% {background: #22989c;}
}

.down {
	opacity: 0.3;
	width: 50px;
	height: 50px;
	position: absolute;            
	top: 90%;
	margin-right: -50%;
    transform: translate(-50%, -50%);
}

.down:hover {
	opacity: 1;
	cursor: pointer;
}

h1 {
	font-weight: 600;
	color: #FFFFFF;
	font-size: 5vw;
	position: absolute;            
	top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

h5.boom{
	margin: 0px;
}

h4.boom {
	font-family: 'Merriweather';
	font-weight: 600;
/*	color: #43b5a5;*/
	font-size: 5vw;
	padding: 0px;
	margin: 0px;
	color: #117475;

}



h2.tagline {
	position: absolute;
	padding: 20%;
	top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


h2 {
	padding-top: 40px;
	color: #FFFFFF;
	font-weight: 100;
	font-size: 3vw;
}



h3 {
	font-family: 'Merriweather';
	font-weight: 100;
	font-size: 2.5vw;
}

#intro {
	text-align: left;
	height: 65vh;
	background-color: #f77337;
	color: #ffffff;

}

#filling {
	width: 100vw;
	height: 25vh;
	background-color: #f77337;
}

h3.intro {
	font-family: 'Josefin Sans';
	font-weight: 100;
	font-size: 2.8vw;
	position: relative;
	width: 60%;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);


}

div#infotext{
font-family: 'Merriweather';
font-weight: lighter;
color: #43b5a5;
font-size:  1.2vw;
float:left;
position: relative;
width: 80%;
top: 62%;
left: 10%;
}

div#topwrap.wrap{
	margin-left: auto;
	margin-right: auto;
}

div#innertopwrap.innertopwrap{
	margin-left: auto;
	margin-right: auto;

}

#topwrap{
	background-color: #f9fcfb;
}

#innertopwrap{
	padding-left: 15vh;
	margin-top: -25px;
}

.innerwrap{
	height: 100%;
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.startrwrap{
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#togglewrap{
max-width: 1000px;
margin-left: auto;
margin-right: auto;
	width: 100%;
	height: 25vh;
	position: relative;
	}

.switch {
	position: relative;
	top: 60%;

}

div#leftdiv{
	width: 30%;
	float: left;
	text-align: center;
}


div#middlediv{
	width: 30%;
	float: left;
	text-align: center;

}

div#rightdiv{
	width: 30%;
	float: left;
	text-align: center;

}

.bookwrap {
/*	background-color: #e1ebe6;*/
}

#hamlet {
	background-color: #e1ebe6;
}

#shades {
	background-color: #e1ebe6;
}

#littleprince {
	background-color: #f9fcfb;
}

.smallbookwrap {
	float: left;
	width: 50%;
}

.textwrap {
	position: relative;
	width: 40%;
	height: 100%;
	float: right;
	margin-right: 100px;
	margin-top: 100px;
}


.smalltitle {
	position: relative;            
    transform: translate(-0%, 0%);
}

a:-webkit-any-link {
	text-decoration: none;
	-webkit-margin-after:0px;
}

h4{
	font-family: 'Josefin Sans', 'Noto Sans';
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 28px;
	color: #43b5a5;
}

h4:hover{
	text-decoration: none;
}

h5{
	font-family: 'Merriweather';'
	font-size: 20px;
	font-weight: 200;
	color: #43b5a5;
	-webkit-margin-after:0px;
	margin-top: -30px;
	margin-bottom: 50px;
	
}

a:-webkit-any-link:hover {
	opacity:0.4;
}
h6{
	font-family: 'Josefin Sans', 'Noto Sans';
	font-size: 16px;
	text-align: center;
	font-weight: 600;
	background-color: #e1ebe6;
	margin: 0px;
	padding: 20px;
	color: #ffffff;
}
h6:hover{
	color: #ffffff;
}

a:-webkit-any-link{
	color: #ffffff;
	cursor: auto;
	opacity: 1.0;
}


p{
	font-family: 'Merriweather', serif;
	font-size: 14px;
	font-weight: lighter;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
}
div#social{
	background-color: #e1ebe6;
	text-align: center;
	padding-top: 100px;
}

/* css for the start page */

#wrap{
	background-color: #e1ebe6;
	width: 1200px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
}


/* CSS FOR TOGGLEBAR */

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

/**/

input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 80px;
  height: 24px;
  opacity: 0.9;
  background-color: #f77337;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 30px;
  background-color: #f77337;
  opacity: 0.9;
  border-radius: 52px;
  transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: #8ce196;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 45px;
  background-color: #8ce196;
}


/* css for the indivdual visualization pages no 01*/

section#viz01{
	background-color: #e1ebe6;
	width: 1200px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
}
div#keywrap01{
	background-color: #e1ebe6;
	width: 	600px;
	height: 600px;
	float: right;
}

div#textbox01{
	background-color: #e1ebe6;
	width: 500px;
	float: right;
	margin-top: 50px;
}

div#key01{
	width: 	600px;
	height: 600px;
	margin-top: 200px;
	text-align: center;
}

/* css for the indivdual visualization pages no 02*/


section#viz02{
	background-color: #e9f1ed;
	width: 1200px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	
}

div#keywrap02{
	background-color: #e9f1ed;
	width: 	600px;
	height: 600px;
	float: right;
}

div#textbox02{
	background-color: #e9f1ed;
	width: 500px;
	float: right;
	margin-top: 50px;
}

div#key02{
	width: 	600px;
	height: 600px;
	margin-top: 200px;
	text-align: center;
}

/* css for the indivdual visualization pages no 03*/

section#viz03{
	background-color: #e9f1ed;
	width: 1200px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	
}

div#keywrap03{
	background-color: #e9f1ed;
	width: 	600px;
	height: 600px;
	float: right;
}

div#textbox03{
	background-color: #e9f1ed;
	width: 500px;
	float: right;
	margin-top: 50px;
}

div#key03{
	width: 	600px;
	height: 600px;
	margin-top: 200px;
	text-align: center;
}

/*CSS FOR THE LITTLE PRINCE POSTER*/

div#poster{
	background-color: #e9f1ed;
	width: 1200px;
	height: 800px;
	margin-left: auto;
	margin-right: auto;
}

div#littleprince{
	float:right;
}

#littleprince .wrap {
	background: "white";
}

/* Design for tablet*/

@media screen and (max-width: 768px){



#wrap{
	background-color: #e9f1ed;
	width: 700px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}

img{
	height:auto;
	width:45%
}

h3{
	font-family: 'Oswald';
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
}

h4{
	font-family: times;
	font-size: 10px;
	text-align: center;
	font-weight: lighter;
	margin-top: -10px;
}



/* Design for tablet section 01*/

section#viz01{
	background-color: #e9f1ed;
	width: 700px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}

div#keywrap01{
	background-color: #e9f1ed;
	width: 	350px;
	height: 500px;
	float: right;
	margin-top: -40px;
}

div#textbox01{
	background-color: #b4e2d8;
	width: 350px;
	float: right;
	margin-top: 50px;
}


div#key01{
	width: 	200px;
	height: 500px;
	margin-top: 200px;
	text-align: center;
}

/* Design for tablet section 02*/

section#viz02{
	background-color: #e9f1ed;
	width: 700px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	
}

div#keywrap02{
	background-color: #e9f1ed;
	width: 	350px;
	height: 500px;
	float: right;
	margin-top: -40px;
}

div#textbox02{
	background-color: #b4e2d8;
	width: 350px;
	float: right;
	margin-top: 50px;
}


div#key02{
	width: 	200px;
	height: 500px;
	margin-top: 200px;
	text-align: center;
}

/* Design for tablet section 03*/

section#viz03{
	background-color: #e9f1ed;
	width: 700px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	
}

div#keywrap03{
	background-color: #e9f1ed;
	width: 	350px;
	height: 500px;
	float: right;
	margin-top: -40px;
}

div#textbox03{
	background-color: #b4e2d8;
	width: 350px;
	float: right;
	margin-top: 50px;
}


div#key03{
	width: 	200px;
	height: 500px;
	margin-top: 200px;
	text-align: center;
}


div#book_01{
	width: 150px;
	height: 200px;
	background-color: #e9f1ed;
	float:left;
	
}

div#book_03{
	width: 150px;
	height: 200px;
	background-color:#e9f1ed;
	float: right;
}
div#book_02{
	width: 150px;
	height: 200px;
	background-color: #e9f1ed;
	margin-left:auto;
	margin-right:auto;
	
}
}


/* Design for Mobile*/

@media screen and (max-width: 460px) {
#wrap{
	background-color: #e7eee6;
	width: 400px;
	height: 1250px;
	margin-left: auto;
	margin-right: auto;
}

h3{
	font-family: 'Oswald';
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
}

h4{
	font-family: 'Merriweather', serif;
	font-size: 12px;
	text-align: center;
	font-weight: lighter;
	margin-top: -15px;
}
div#book_01{
	width: 400px;
	height: 400px;
	background-color: #7ccbbd;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

div#book_02{
	width: 300px;
	height: 400px;
	background-color: #7ccbbd;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

div#book_03{
	width: 300px;
	height: 400px;
	background-color: #7ccbbd;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

section#viz01{
	background-color: #fbe7dd;
	width: 400px;
	height: 900px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


div#keywrap01{
	background-color: #e7eee6;
	width: 	400px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

div#key01{
	margin-left: auto;
	margin-right: auto;
}

section#viz02{
	background-color: #cccccc;
	width: 400px;
	height: 900px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
div#keywrap02{
	background-color: #e7eee6;
	width: 	400px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

div#key02{
	margin-left: auto;
	margin-right: auto;
}


section#viz03{
	background-color: #cccccc;
	width: 400px;
	height: 1250px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div#keywrap03{
	background-color: #e7eee6;
	width: 	400px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

div#key03{
	margin-left: auto;
	margin-right: auto;
}
}
